$mainBackground: #0e0f21;
$darkBackground: #0b0c1b;
$white: #fff;
$grayedWhite: #f2f2f2;
$black: #000;
$yellow: #ff0;
$green: #0f0;
$lightBlue: #8da9db;
$optionsBackground: #4472c4;
$lineColor: #787879;
$navMenuWidth: 30rem;
$logoIconWidth: 20rem;
$appRadius: 0.5rem;
