$mainBackground: #0e0f21;
$darkBackground: #0b0c1b;
$white: #fff;
$grayedWhite: #f2f2f2;
$black: #000;
$lightYellow: #f7d100;
$yellow: #ff0;
$darkYellow: #ae6e1c;
$green: #0f0;
$lightOrange: #fed8b1;
$orange: #ad8225;
$darkOrange: #ff9900;
$lightBlue: #8da9db;
$optionsBackground: #4472c4;
$lineColor: #787879;
$resultNeutralBlue: $optionsBackground;
$resultNeutralGray: #acb7c8;
$resultMistake: #ed7d31;
$resultCorrect: $green;
$navMenuWidth: 30rem;
$logoIconWidth: 20rem;
$appRadius: 0.5rem;
$tableBorder: 1px solid $lineColor;

.u-margin-top-small {
    margin-top: 2rem;
}

.input {
    border: $tableBorder;
    border-radius: $appRadius;
    background-color: #d8d8d8;
    padding: 0.5rem;
    width: 100%;
}